:root {
    --primary: #5d571e;
    --bg: #ffffff;
}
html {
    scroll-behavior: smooth;
        font-family: "Poppins", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #513c28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}
.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: white;
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#furniture-menu {
    display: none;
}

/* search */
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.navbar .search-form.active {
    transform: scaleY(1);
}
.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    color: #010101;
    padding: 1rem;
}
.navbar .search-form label {
    cursor: pointer;
    font-size: 1rem;
    margin-right: 1.5rem;
    color: #010101;
}
/* search */

/* Shopping cart */
#shopping-cart-button {
    position: relative;
}

.red-cart {
    position: relative;
    display: inline-block;
    padding: 1px 5px;
    background-color: rgb(192, 17, 17);
    border-radius: 8px;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    right: -11px;
}

#shopping-cart-button .quantity-badge {
    display: inline-block;
    padding: 1px 5px;
    background-color: red;
    border-radius: 8px;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    right: -10px;
}

.shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    height: 100vh;
    width: 100%;
    padding: 0 1.5rem;
    background-color: #e6e6e6;
    color: black;
    transition: 0.3s;
}

.shopping-cart.active {
    right: 0;
}

.shopping-cart .cart-item {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #666;
}

.shopping-cart img {
    height: 4rem;
    border-radius: 50%;
}

.shopping-cart h3 {
    font-size: 1rem;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
    display: inline-block;
    padding: 2px 5px;
    cursor: pointer;
    margin: 0 8px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.shopping-cart h4 {
    font-size: 1.6rem;
    margin-top: -1;
    text-align: center;
}
/* Shopping cart */

/* dropdown */

.profile-container {
    position: relative;
    display: inline-block;
}
.user-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.dropdown-item {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}


/* checkout form */
.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px dashed black;
    margin-top: 1rem;
    padding: 1rem;
}

.form-container h5 {
    text-align: center;
    font-size: 1rem;
}

.form-container form {
    width: 100%;
    text-align: center;
}

.form-container label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}

.form-container span {
    text-align: right;
}

.form-container input {
    background-color: #ddd;
    padding: 5px;
    font-size: 1rem;
    width: 70%;
}

.form-container .checkout-button {
    padding: 6px 14px;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    margin: 1rem auto;
    cursor: pointer;
}
/* checkout form */

/* hero section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../img/bg-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    background: linear-gradient(
        0deg,
        rgb(255, 255, 255, 1) 8%,
        rgba(255, 255, 255, 0) 50%
    );
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 4.3em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--primary);
    font-style: italic;
    
    text-shadow: rgba(1, 1, 3, 1);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    mix-blend-mode: difference;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .notifikasi {
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: left;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
}

.hero .content .notifikasi.success {
    background-color: #729b74;
    display: inline-block;
    color: white;
    border-color: #5ca568;
}

.hero .content .notifikasi.error {
    background-color: #f44336;
    display: inline-block;
    color: white;
    border-color: #d32f2f;
}

/* Produk */
.produk,
.galeri {
    padding: 8rem 7% 1.4rem;
}

.produk h2,
.galeri h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color: rgb(33, 29, 29);
}

.produk h2 span,
.galeri h2 span {
    color: var(--primary);
}

.produk h2 {
    margin-bottom: 1.5rem;
}

.produk p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 400;
    line-height: 1.6;
    color: black;
}

.produk .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
    margin-top: 4rem;
}

.produk .produk-card {
    text-align: center;
    border: 1px solid #666;
    padding: 2rem;
    border-radius: 10px; /* Membuat kartu memiliki sudut melengkung */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan untuk efek kedalaman */
    min-height: 400px; /* Atur tinggi minimum yang sama untuk semua kartu */
}
.produk .produk-icons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.produk .produk-icons a {
    width: 4rem;
    height: 4rem;
    color: #010101;
    margin: 0.3rem;
    border: 1px solid #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, border 0.3s; /* Animasi transisi untuk efek hover */
}

.produk .produk-icons a:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.produk .produk-image {
    padding: 1rem 0;
}

.produk .produk-image img {
    height: 10rem;
    border-radius: 10px; /* Membuat gambar memiliki sudut melengkung */
}

.produk .produk-content h3 {
    font-size: 2rem;
    color: black;
    margin-bottom: 0.5rem;
}

.produk .produk-price {
    color: black;
    font-size: 1.2rem; /* Sedikit memperbesar ukuran harga */
    font-weight: bold;
    margin-bottom: 1rem;
}

.produk .produk-content p {
    font-size: 1rem;
    color: grey;
    line-height: 1.5;
    margin: 0.5rem 0;
    text-align: center; /* Memastikan teks di dalam p berada di tengah */
}

.produk .produk-content h4 {
    font-weight: bold; /* Menambahkan font tebal untuk label deskripsi */
    margin-bottom: 0.5rem; /* Menambahkan margin bawah */
    color: #333; /* Mengubah warna teks menjadi lebih gelap */
    text-align: center; /* Memastikan teks berada di tengah */
}

.produk .produk-content p:last-of-type {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: block;
    width: 100%;               /* biar muat lebar card */
    margin: 0 auto;
    max-height: 4.5rem;        /* batasi tinggi maksimal */
    overflow: hidden;          /* sembunyikan teks lebih */
    text-overflow: ellipsis;   /* tampilkan ... di akhir */
    white-space: normal;       /* ⬅️ ubah dari nowrap ke normal agar teks bisa turun baris */
    word-wrap: break-word;     /* pastikan kata panjang ikut dipotong */
    cursor: pointer;
    transition: max-height 0.3s ease;
}


.produk .produk-content p.expanded {
    max-height: none; /* Hilangkan batas tinggi saat diperluas */
    white-space: normal; /* Izinkan teks terbungkus saat diperluas */
}



/* Footer */
footer {
    position: fixed;
    bottom: 0;
}

@media (max-height: 800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2c292f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px "Cookie", cursive;
    margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img {
    width: 30%;
    border-radius: 50%;
}

.footer-distributed h3 span {
    color: var(--primary);
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

footer {
    font: 16px/1.6 Arial, sans-serif;
    padding: 0;
    margin: 0;
}
.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}
/* Footer */
/* modal box */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
    position: relative;
    background-color: #fefefe;
    color: white;
    margin: 15% auto;
    padding: 1.2rem;
    border: 1px solid #666;
    width: 80%;
    animation: animateModal 0.5s;
}

/* modal animation */
@keyframes animateModal {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.modal-container .close-icon {
    position: absolute;
    right: 1rem;
}
.modal-content {
    display: flex;
    flex-wrap: nowrap;
}
.modal-content img {
    height: 16rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.modal-content h3 {
    color: black;
}
.modal-content .produk-price {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
.modal-content p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top: 1.2rem;
    color: black;
}
.modal-content a {
    display: flex;
    gap: 1rem;
    width: 12rem;
    background-color: var(--primary);
    color: var(--bg);
    margin-top: 1rem;
    padding: 1rem 1.6rem;
}
/* modal box */
/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}
/* Tablet*/
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
    #furniture-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--primary);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }
    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: black;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }
    .navbar .search-form {
        width: 90%;
        right: 2rem;
    }

    .modal-content {
        flex-wrap: wrap;
    }
}

/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}


.pagination {
    display: flex;
    align-items: center;
}

.pagination-item {
    margin: 4px 0;
}

.pagination-link,
.pagination-number {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-link:hover,
.pagination-number:hover {
    background-color: #f0f0f0;
}

.pagination-disabled {
    color: #aaa;
}

/* Galeri */

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.gallery {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.gallery-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.gallery-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.gallery-slide img {
    width: 100%;
    display: block;
}

.gallery-prev, .gallery-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
}

.gallery-prev {
    left: 10px;
}

.gallery-next {
    right: 10px;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin: 10px 0;
    font-size: 1.5em; 
    color: #000;
    font-weight: bold;
}

.card-content p {
    margin: 10px 0;
    color: #555;
    font-size: 1em;
    line-height: 1.5;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.action-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #000;
}

.action-btn:hover {
    color: #007bff;
}

/* Galeri */

.filter-container {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 2rem;
    margin-left: auto;
}

.filter-section {
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #f9f9f9; 
    display: inline-flex;
    align-items: center; 
}

.filter-section label {
    margin-right: 1rem;
    font-size: 1rem;
    color: #010101;
}

.filter-section input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.btn {
    background-color: #2ea44f;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    position: absolute;
    margin-top: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease-in-out;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #1b6731;
}

.btndnd {
    background-color: #04aa6d; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btndnd:hover{
    background-color: #036340;
}

.btnn{
    padding: 12px 28px;
}